body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin: 30px;
    background-color: tan;
    color: brown;
}

.container {
    display: flex;
    gap: 20px;
    align-items: flex-start;
}

.left {
    width: 75%;
}

#banner {
    width: 100%;
    display: block;
    border-radius: 10px;
    transform: translateY(-6px);
    box-shadow: 0 10px 25px black;
    scroll-behavior: smooth;
}

.right {
    width: 25%;
}

input,
select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    padding: 8px 12px;
    margin-bottom: 10px;
    cursor: pointer;
}

#checklist {
    padding-left: 20px;
}

#receipt {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    color: black;
}

h1 {
    font-size: 50px;
    color: black;
    text-align: center;
}
h2 {
    font-size: 30px;
    color: saddlebrown;
    text-align: center;
}
